# Used by the library (versions most recent, except six mirrors edX current)
numpy==1.16.4
scipy==1.2.2
pyparsing==2.4.0
six==1.11.0

# For testing
pytest==3.6.2
pytest-cov==2.5.1

# For documentation
mkdocs==0.17.5
mkdocs-cinder

# For uploading to edge
requests
