# Used by the library (versions set to mirror edX)
numpy==1.21.0
pyparsing==2.0.7
scipy==0.14.0
six==1.11.0

# For testing
mock
pytest==4.6.11
pytest-cov==2.7.1

# For documentation
mkdocs==0.17.5
mkdocs-cinder==0.11.0
# Note that there are much newer versions of these. However, the pycon code highlighting
# language no longer works in the newer versions, so we stick with these ones.

# For uploading to edge
requests
