# Used by the library
# (taken from Sumac Open edX version)
numpy==1.26.4
scipy==1.14.1
pyparsing==3.2.0
six==1.16.0

# For testing
pytest
pytest-cov
codecov

# For documentation
mkdocs
mkdocs-cinder
pygments

# For uploading to edge
requests
