# Used by the library (versions most recent, except six mirrors edX current)
numpy==1.16.4
scipy==1.2.2
pyparsing==2.4.0
six==1.11.0

# For testing
pytest==4.6.4
pytest-cov==2.7.1

# For documentation
mkdocs==0.17.5
mkdocs-cinder==0.11.0

# For uploading to edge
requests
