/* make prompt impossible to select for hljs */
.hljs-prompt {
  user-select: none;
}

/* make prompt impossible to select for pygments */
.gp {
  user-select: none;
}

pre, pre code {
  white-space: pre-wrap
}
