name: Unit Tests
on: [push]
jobs:
  Python-3-Tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8, 3.11]
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install codecov

      - name: Run test cases
        run: pytest --cov=mitxgraders --cov-report=term-missing

      - name: Run coverage
        run: codecov

  NodeJS-Tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16]
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Set up Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: |
          cd mitxgraders-js
          npm install

      - name: Run test cases
        run: |
          cd mitxgraders-js
          npm test
